<strong>Hello, {{ deliveryman }}</strong>
<p>You have a new product to withdraw, see more informations below:</p>
<p>
  <strong>Recipient: </strong> {{ recipientName }}<br />
  <strong>Delivery Local: </strong> {{ local }}<br />
  <strong>Product: </strong> {{ product }}<br />
</p>
